<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
]>
<root id="-1">
  <home id="1150" key="d457f9d8-fb1c-4d7b-8cb1-aa9b08361fd2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-18T15:04:46" updateDate="2019-01-23T14:43:44" nodeName="Home" urlName="home" path="-1,1150" isDoc="" nodeType="1149" creatorName="Gabriel Pineda" writerName="Gabriel Pineda" writerID="0" template="1148" nodeTypeAlias="home" isPublished="true">
    <introduccion><![CDATA[<h1 class="text-extra-thin text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-40 margin-top-130">Bienvenido a mi aplicación Web</h1>]]></introduccion>
    <aboutUs id="1153" key="73462064-5528-416e-aac3-8bd93c02461d" parentID="1150" level="2" creatorID="0" sortOrder="0" createDate="2019-01-21T16:27:58" updateDate="2019-01-21T16:27:58" nodeName="about-us" urlName="about-us" path="-1,1150,1153" isDoc="" nodeType="1152" creatorName="Gabriel Pineda" writerName="Gabriel Pineda" writerID="0" template="1151" nodeTypeAlias="aboutUs" isPublished="true" />
    <services id="1156" key="fb166d0c-ba48-49db-8b51-fe70a7f0a056" parentID="1150" level="2" creatorID="0" sortOrder="1" createDate="2019-01-22T10:49:26" updateDate="2019-01-22T10:49:26" nodeName="services" urlName="services" path="-1,1150,1156" isDoc="" nodeType="1155" creatorName="Gabriel Pineda" writerName="Gabriel Pineda" writerID="0" template="1154" nodeTypeAlias="services" isPublished="true" />
    <gallery id="1159" key="08b2007b-fba2-43c7-8ba5-2d9f4337dfd8" parentID="1150" level="2" creatorID="0" sortOrder="2" createDate="2019-01-22T11:00:04" updateDate="2019-01-22T11:00:04" nodeName="gallery" urlName="gallery" path="-1,1150,1159" isDoc="" nodeType="1158" creatorName="Gabriel Pineda" writerName="Gabriel Pineda" writerID="0" template="1157" nodeTypeAlias="gallery" isPublished="true" />
    <contact id="1162" key="84cb40a3-1dd9-43f6-a841-15894e16a580" parentID="1150" level="2" creatorID="0" sortOrder="3" createDate="2019-01-22T11:04:49" updateDate="2019-01-22T11:04:49" nodeName="contact" urlName="contact" path="-1,1150,1162" isDoc="" nodeType="1161" creatorName="Gabriel Pineda" writerName="Gabriel Pineda" writerID="0" template="1160" nodeTypeAlias="contact" isPublished="true" />
  </home>
</root>